PG_HOST=postgres
PG_DATABASE=postgres
PG_USERNAME=postgres
PG_PASSWORD=postgres
JWT_SECRET_KEY=DDRP6wG6UdcpovSYGxt85oLgk7BmsbeTQ1WhlLMtz7Aa05EAON0kYdaehJTXCKqXaftMnadKYVV06GlNhw1Tm6zzog5Amu/Z2jBpY8jKT9pLAAVUFMttQRYW6NvowagvAviQ2MmLijnpGpKP6r7zsaMKut8ogHURbEB0UQmbc87Vo8jTEeZxMOiIRICxRkNJTcZ4xBpJ6f809AVI90V+VeZBxWs6LYOd1AuYNuynsYhFLpLyGFh2w5WXlkL8Q19xqL4E1NUXzNT5sQkZW5wXzN4NAIpMFTwD1VZ//RGGcHv2+L19CNYlabK3z6nD+ZHalJz9QtSTePlor1Fr5VXBsueuPfYOqQKbQqqjAdlOunqFTv7R0tTd3n/cuXFrhE0ue0F6zVxNKZFx8BeMx0Aj88ThUOuzw+qooTscl7jctiCw9p2Owja2ge9uVUTwKMJRSN+BC8uce800oEv8DOpbZmJQ0/qRH30wiBhmjcyKj9XGTn/nTIMKU1FtSk+eeSJCvdzYUGQD3AXr/0vTtIcrzhGpdnN6sFOE6Tuz1uHVxF3j9QdMeOqx399T+QY2Lwyr5rwrJxxJRqLyCNeRa5ZdDhMCqborFetT2s6fCxJHKMjWiR1h9QnQg9RmbVu1tjkyyYbe9w4BtJnv/r6R9X3mGCmctYOVM3z2g4p9BaOAi5A=
